<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>게시글</title>
</head>
<body>

<div data-th-replace="header :: header"></div>

<h1>게시글</h1>

<p data-th-unless="${board}">해당 번호의 게시글이 없습니다!</p>

<form data-th-action="@{/board/update}" data-th-if="${board}" enctype='multipart/form-data'
      method='post'>
    <table border='1'>
        <tr>
            <th style='width:120px;'>번호</th>
            <td style='width:300px;'><input data-th-value="${board.no}" name='no'
                                            readonlytype='text'></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><input data-th-value='${board.title}' name='title' type='text'></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea data-th-text="${board.content}" name='content'
                          style='height:200px; width:400px;'>내용</textarea></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td data-th-text="${board.writer.name}">작성자</td>
        </tr>
        <tr>
            <th>조회수</th>
            <td data-th-text="${board.viewCount}">5</td>
        </tr>
        <tr>
            <th>등록일</th>
            <td data-th-text="${board.createdDate}">2023-12-31</td>
        </tr>
        <tr>
            <th>첨부파일</th>
            <td>
                <div data-th-each="file : ${board.attachedFiles}">
                    <a data-th-href="|https://kr.object.ncloudstorage.com/bitcamp/board/${file.filePath}|"
                       data-th-text="${file.filePath}">file.webp</a>
                    [<a data-th-href="|/board/fileDelete/attachedFile;no=${file.no}|">삭제</a>]<br>
                </div>
                <input multiple name='files' type='file'>
            </td>
        </tr>
    </table>

    <div>
        <button>변경</button>
        <button type='reset'>초기화</button>
        <a data-th-href="|/board/delete?category=${board.category}&no=${board.no}|">삭제</a>
        <a data-th-href="|/board/list?category=${board.category}|">목록</a>
    </div>
</form>

<div data-th-replace="footer :: footer"></div>

</body>
</html>