<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>비트캠프</title>
</head>
<body>

<div data-th-replace="header :: header"></div>

<h1>게시글</h1>
<form data-th-action="@{board/add}" enctype='multipart/form-data' method='post'>
    제목 <input name='title' type='text'><br>
    내용 <textarea name='content'></textarea><br>
    파일 <input multiple name='files' type='file'><br>
    <input data-th-value="${param.category}" name='category' type='hidden'>
    <button>등록</button>
</form>

<div data-th-replace="footer :: footer"></div>

</body>
</html>